table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 20px;
}

.center-container   {
     display: flex;                    
     justify-content: center;       
     align-items: center;           
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
}
